<div [formGroup]="formGroup">
  <label for="name">Product Name:</label>
  <input id="name" formControlName="name"/>
  @if (formGroup.get('name')?.hasError('required') && (formGroup.get('name')?.touched || formGroup.get('name')?.dirty)) {
    <p>Required</p>
  }

  <label for="description">Description:</label>
  <textarea id="description" formControlName="description"></textarea>
  @if (formGroup.get('description')?.hasError('required') && (formGroup.get('description')?.touched || formGroup.get('description')?.dirty)) {
    <p>Required</p>
  }
  @if (formGroup.get('description')?.hasError('minlength') && (formGroup.get('description')?.touched || formGroup.get('description')?.dirty)) {
    <p>minimum length is 10</p>
  }

  <label for="price">Price:</label>
  <input id="price" type="number" formControlName="price"/>
  @if (formGroup.get('price')?.hasError('required') && (formGroup.get('price')?.touched || formGroup.get('price')?.dirty)) {
    <p>Required</p>
  }
  @if (formGroup.get('price')?.value < 0) {
    <p>Must be positive number</p>
  }

  <button type="button" (click)="submit()">Submit Details</button>
</div>
